.buttons{
    display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:center;
}
body{
    background-color: #1A10FF;
}
.header{
    display:flex;
    justify-content:center;
    align-content:center;
}
.header img{
    display:flex;
    width: 400px;
    height: 400px;
    align-content:center;
    align-self:center;
}
.buttons img{
    width: 200px;
    height: 200px;
}